<ul>

	<% contacts.shuffle().forEach(function(c, i) { %>

		<li>

			<figure class="unanswered" data-name="<%= c.name %>" data-team="<%= c.team.toLowerCase() %>">

				<img src="<%= c.photo %>" alt="<%= c.name%>" />

				<figcaption class="tooltip">

					<sup>Hello, my name is:</sup>
          
          <div class="name">
					  <h2>
              <%= c.name %>
              <br/>
              <small><%= c.team %></small>
            </h2>
            
            <div class="name alt">
					    <h2><%= c.name.replace(/./g, "*") %></h2>
            </div>

            <ul class="multiple-choice"></ul>

            <hr/>

            <button>Submit</button>

				</figcaption>
        
			</figure>
			
		</li>

	<% }) %>

</ul>

<script type="template/underscore" id="tmpl-multiple-choice">
  
  <@ $.each(answers, function(answer) { @>
    <li>
      <label>
        <input name="answer" type="radio" value="<@= answer @>" /> <@= answer @>
      </label>
    </li>
    <@ }); @>
      
</script>

